In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import atus_analysis as at
%matplotlib inline

In [2]:
activity = pd.read_csv('data/atusact_2014.dat')

In [3]:
respondent = pd.read_csv('data/atusresp_2014.dat')

In [4]:
roster = pd.read_csv('data/atusrost_2014.dat')

In [5]:
#who = pd.read_csv('data/atuswho_2014.dat')

In [6]:
#cps = pd.read_csv('data/atuscps_2014.dat')

In [7]:
#elder_care = pd.read_csv('data/atusrostec_2014.dat')

In [8]:
activity_sum = pd.read_csv('data/atussum_2014.dat')

In [9]:
child_care = activity[['TUCASEID', 'TUACTIVITY_N', 'TUACTDUR24']].copy()

In [10]:
respondent.head()

,TUCASEID,TULINENO,TUYEAR,TUMONTH,TEABSRSN,TEERN,TEERNH1O,TEERNH2,TEERNHRO,TEERNHRY,...,TXSPEMPNOT,TXSPUHRS,TXTCC,TXTCCTOT,TXTCOC,TXTHH,TXTNOHH,TXTO,TXTOHH,TXTONHH
0,20140101140007,1,2014,1,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,-1,0,0,-1
1,20140101140011,1,2014,1,-1,-1,-1,500,-1,1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
2,20140101140028,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,0,-1,-1,-1
3,20140101140063,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
4,20140101140168,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,-1,0,0,-1

In [11]:
# for ID, household in child_care_by_ID:
#     print(ID)
#     print(household)
#child_care['codes'] = at.get_six_digit_codes(child_care)
child_care['codes'] = [str(row.TUTIER1CODE) + str(row.TUTIER2CODE) + str(row.TUTIER3CODE) for row in activity.itertuples()]

In [12]:
child_care

              TUCASEID  TUACTIVITY_N  TUACTDUR24  codes
0       20140101140007             1         540    111
1       20140101140007             2          30    311
2       20140101140007             3          60    121
3       20140101140007             4          10  18111
4       20140101140007             5          30   1111
5       20140101140007             6          20  18131
6       20140101140007             7          90  13116
7       20140101140007             8          25  18131
8       20140101140007             9          30   1233
9       20140101140007            10         605    111
10      20140101140011             1         150    111
11      20140101140011             2          30    121
12      20140101140011             3          30   1851
13      20140101140011             4         360    511
14      20140101140011             5          15   1111
15      20140101140011             6         105    511
16      20140101140011             7          20   1851
17      20140101140011             8          40   1851
18      20140101140011             9         120    111
19      20140101140011            10          20    221
20      20140101140011            11          60   1233
21      20140101140011            12          30    121
22      20140101140011            13          40   1238
23      20140101140011            14          30   1111
24      20140101140011            15          60   1211
25      20140101140011            16          20    223
26      20140101140011            17          40   1233
27      20140101140011            18         270    111
28      20140101140028             1          45    121
29      20140101140028             2         315    111
...                ...           ...         ...    ...
223219  20141212142484             5          60  18111
223220  20141212142484             6         120   1111
223221  20141212142484             7          30  18132
223222  20141212142484             8         270   1323
223223  20141212142484             9          10  18111
223224  20141212142484            10         120   1111
223225  20141212142484            11          10   1845
223226  20141212142484            12          30   1845
223227  20141212142484            13          15    457
223228  20141212142484            14          15   1845
223229  20141212142484            15          20    121
223230  20141212142484            16         110    111
223231  20141212142500             1         180    111
223232  20141212142500             2          30   1111
223233  20141212142500             3          45    121
223234  20141212142500             4          15  18141
223235  20141212142500             5         135   1411
223236  20141212142500             6          15  18141
223237  20141212142500             7          30   1111
223238  20141212142500             8         150   1233
223239  20141212142500             9          60    211
223240  20141212142500            10          60    231
223241  20141212142500            11          60    313
223242  20141212142500            12          60   1211
223243  20141212142500            13          60   1111
223244  20141212142500            14          60   1211
223245  20141212142500            15          30    311
223246  20141212142500            16          30    223
223247  20141212142500            17          60   1233
223248  20141212142500            18         360    111

[223249 rows x 4 columns]

In [13]:
child_care_by_ID = child_care.groupby(['TUCASEID'])

In [14]:
child_care_by_ID.get_group(20140101140007)

         TUCASEID  TUACTIVITY_N  TUACTDUR24  codes
0  20140101140007             1         540    111
1  20140101140007             2          30    311
2  20140101140007             3          60    121
3  20140101140007             4          10  18111
4  20140101140007             5          30   1111
5  20140101140007             6          20  18131
6  20140101140007             7          90  13116
7  20140101140007             8          25  18131
8  20140101140007             9          30   1233
9  20140101140007            10         605    111

In [15]:
minutes_caring = {}
for name, group in child_care_by_ID:
    for row in group.itertuples():
        if row.codes[:2] in ['31', '32', '33']:
            if name in minutes_caring:
                minutes_caring[name] = minutes_caring[name] + row.TUACTDUR24
            else:
                minutes_caring[name] = row.TUACTDUR24
child_care_time = pd.Series(minutes_caring, name='Child Care Time')

In [16]:
child_care_time = pd.DataFrame(child_care_time)

In [17]:
#child_care_time = child_care_time.rename(columns={'0': 'Child Care Time'})

In [18]:
weight = respondent[['TUCASEID', 'TUFINLWGT']].copy()

In [19]:
weight.set_index(weight.pop('TUCASEID'), inplace=True)

In [20]:
#child_care_time['TUCASEID'] = child_care_time.index.to_series()

In [21]:
weighted_child_care = weight.join(child_care_time)

In [23]:
weight.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11592 entries, 20140101140007 to 20141212142500
Data columns (total 1 columns):
TUFINLWGT    11592 non-null float64
dtypes: float64(1)
memory usage: 181.1 KB

In [27]:
weighted_child_care.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11592 entries, 20140101140007 to 20141212142500
Data columns (total 2 columns):
TUFINLWGT          11592 non-null float64
Child Care Time    2889 non-null float64
dtypes: float64(2)
memory usage: 271.7 KB

In [28]:
weighted_child_care.head()

                   TUFINLWGT  Child Care Time
TUCASEID
20140101140007  4.891316e+06             30.0
20140101140011  2.314737e+07              NaN
20140101140028  2.094182e+07            180.0
20140101140063  2.505899e+06              NaN
20140101140168  1.592823e+07            175.0

In [29]:
weighted_child_care['weighted_care_time'] = weighted_child_care['TUFINLWGT'] * weighted_child_care['Child Care Time']

In [30]:
weighted_child_care.head()

                   TUFINLWGT  Child Care Time  weighted_care_time
TUCASEID
20140101140007  4.891316e+06             30.0        1.467395e+08
20140101140011  2.314737e+07              NaN                 NaN
20140101140028  2.094182e+07            180.0        3.769528e+09
20140101140063  2.505899e+06              NaN                 NaN
20140101140168  1.592823e+07            175.0        2.787441e+09

In [34]:
summed_child_care = weighted_child_care.sum()

In [35]:
summed_child_care

TUFINLWGT             9.201173e+10
Child Care Time       3.504950e+05
weighted_care_time    2.267731e+12
dtype: float64

In [37]:
child_care_avg_daily_minutes = summed_child_care['weighted_care_time'] / summed_child_care['TUFINLWGT']

In [38]:
child_care_avg_daily_minutes

24.646112399316848

In hours:

In [39]:
child_care_hourly = child_care_avg_daily_minutes / 60

In [40]:
child_care_hourly

0.41076853998861412

0.41 corresponds to the figure reported by the BLS in their table 1 from their [press release](http://www.bls.gov/news.release/archives/atus_06242015.htm) of the 2014 Survey.
![Hourly Child Care in the US](ATUS-Survery-hourly-childcare.png)